@font-face {
  font-family: 'OTEnjoystoriesBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-color1 : #5B2386;
  --main-color2 : #FCEE21;
  --quote-color : #F5DF4D;
  font-family: "GmarketSansMedium";
  font-size: 10px;
  background-color: var(--main-color1);
}
.app {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.button_common {
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-radius: 30px;
  padding: 10px 40px;
  cursor: pointer;
}
