html, body, div, span,
h1, h2, p
em, img,
b, u, i, ol, ul, li,
form, label
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button{
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
}

ol, ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: var(--gray-6, #F2F2F2); 
}

.default-font {
    font-family: 'SpoqaHanSansNeo', sans-serif;
}

/* font */
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
